# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Pytest & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs & Databases
*.log
*.sqlite3

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
